section#temporizador {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ff2525;
  height: 50px;
  padding: 0 20px;
  z-index: 5;
}
section#temporizador p {
  font-family: var(--light);
  font-size: clamp(1.2rem, 1vw, 1.4rem);
  color: var(--cor-branco);
}
section#temporizador p span {
  font-family: var(--medium);
}
